.p {
    display: inline-block;
    min-width: 10rem;
    min-height: 8rem;
    background-color: lavender;
    margin-bottom: 32px;
}
.p {
    display: inline-block;
    min-width: 10rem;
    min-height: 8rem;
    background-color: aqua;
    margin-top: 32px;
}